// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    color: #464646;
    font-style: normal;
    font-weight: normal;
    background-repeat: repeat;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

body .container {
    max-width: 1379px;
    margin: 0 auto;
    padding: 0 30px;
}

@media only screen and (max-width: 556px) {
    body .container {
        padding: 0 20px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input:hover, input:focus, input:active,
button:hover,
button:focus,
button:active {
    outline: none;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0 0 25px 0;
}

p:last-child {
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.chat__link {
    color: #9180f6;
    font-weight: 600;
    text-decoration: underline;
}

.videotube-modal-overlay {
    color: #fff;
    display: none;
    z-index: 995;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #000000a1;
    text-align: center;
}

.feedback-link {
    width: fit-content !important;
    height: fit-content !important;
}

.widget-image-wrapper {
    width: 360px;
    height: 347px;
    min-width: 360px;
    min-height: 347px;
}

.widget-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
}

.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks__section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

#videotube-modal-container {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px;
    overflow-y: auto;
}

#videotube-modal {
    text-align: center;
    border-radius: 20px;
}

#videotube-modal-loading {
    position: fixed;
    z-index: 997;
    font-size: 1.5em;
    top: 49%;
    width: 5%;
    text-align: center;
    left: 45%;
}

#videotube-modal-block {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1000px;
}

#videotube-modal-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videotube-modal-close {
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 3px 13px;
    z-index: 999;
    font-size: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.1s;
}

#videotube-modal-close:hover {
    text-shadow: 0 0 10px #fff;
}

.button {
    border: none;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 164.4%;
    text-transform: uppercase;
    color: #ffffff;
    height: 69px;
    background: linear-gradient(93.53deg, #FF6CB3 -5.8%, #9180FF 79.67%);
    //transition: all 0.7s ease-in-out;
    border-radius: 10000px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.button:focus, .button:active, .button:hover {
    background: #9180FF;
    color: #ffffff;
    text-decoration: none;
}

.button-green {
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 164.4%;
    text-transform: uppercase;
    color: #a2f3b4;
    height: 50px;
    background: #ffffff;
    transition: all 0.7s ease-in-out;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 25px;
    margin: 22px auto 0;
}

.button-back {
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background: none;
    color: #9180ff;
    border-bottom: 3px solid #9180ff;
}

.white-btn {
    background: #ffffff;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.19);
    border-radius: 28px;
    font-weight: bold;
    font-size: 15px;
    line-height: 164.4%;
    text-transform: uppercase;
    color: #9180ff;
}

.white-btn:focus, .white-btn:active, .white-btn:hover {
    background: #ffffff;
    color: #a598ff;
}
