@media only screen and (max-width: 1350px) {
    .first__img {
        position: absolute;
        left: 595px;
        bottom: 75px;
        max-width: 430px;
    }
    #first {
        padding-right: 30px;
        padding-left: 30px;
    }
    .first__back {
        max-width: 730px;
    }
    .program__img-first, .program__img-second {
        right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 50px;
        margin: 22px 0 7px;
    }
    #first {
        padding-right: 0;
        padding-left: 0;
    }
    .first__btn-more {
        padding: 0 3rem;
        margin: 59px 0 0;
        width: 224px;
        height: 51px;
        font-size: 12px;
    }
    #first {
        box-shadow: none;
        padding-right: 40px;
        padding-left: 40px;

        ::-webkit-scrollbar {
            width: 0;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .first__img {
        left: 480px;
        bottom: 80px;
        width: 390px;
    }
    .first__back {
        position: absolute;
        top: -48px;
        height: 100%;
        width: 100%;
        max-width: 800px;
        z-index: 0;
    }
    #welcome {
        padding-top: 40px;
    }
    .first__back {
        display: none;
    }
    .first__back-modile {
        display: block;
        overflow: hidden;

        svg {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .merit__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        justify-items: center;
    }
    .merit__item {
        max-width: 360px;
        width: 100%;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .office__slide {
        padding-top: 30px;

        &.swiper-slide-active {
            padding-top: 0;

            .office__img {
                max-width: 381px;
                height: auto;
            }
        }

        .office__img {
            max-width: 230px;
            height: auto;
        }
    }
}

@media only screen and (max-width: 998px) {
    .program__slider {
        width: 472px;
    }
    .head__social a svg {
        width: 23px;
        height: 23px;
    }
    .program__head {
        box-shadow: 0px 9px 52px rgba(0, 0, 0, 0.20);
    }
    #first {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 200px;
        padding-top: 74px;
    }


    .first__img {
        position: absolute;
        left: auto;
        right: 14px;
        bottom: 80px;
        max-width: 387px;
    }
    .first__back {
        top: 0;
    }
    .first__social {
        display: none;
    }
    .first__caption {
        font-size: 15px;
        line-height: 18px;
    }
    .first__btn.white-btn {
        display: none;
    }
    .office__slide .office__img {
        max-width: 170px;
    }
    .base {
        &__img {
            right: -55px;
            width: 450px;
        }

        &__wrap {
            height: 300px;
            padding: 30px 22px;
        }

        &__name {
            font-size: 50px;
        }
    }
}

@media only screen and (max-width: 778px) {
    #first {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 73px;

        .container {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .title-second {
        font-size: 34px;
        line-height: 157.9%;
    }
    .questions-accordion__item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .questions-accordion {
        max-width: 100%;
        margin-top: 36px;
    }
    .questions-accordion__head {
        font-size: 24px;
        line-height: 29px;
    }
    .questions-accordion__body {
        font-size: 16px;
        line-height: 25px;
    }
    .questions-accordion__list {
        padding-right: 0;
        padding-left: 0;
    }
    #welcome {
        padding: 0 0 100px;
    }
    .welcome__block {
        padding: 49px 20px 52px;
        margin-bottom: 100px;

        .title-caption {
            margin-bottom: 20px;
        }

        .title-second {
            padding-bottom: 30px;
            line-height: 30px;
        }
    }
    .welcome__txt {
        margin-top: 19px;
        max-width: 390px;
        font-size: 15px;
        line-height: 20px;
    }
    .welcome__svg {
        width: 589.87px;
        height: 556.22px;
    }
    #questions {
        padding-bottom: 100px;
    }
    .feedback__form {
        margin-top: 170px;
    }
    .feedback__back {
        display: none;
    }
    .feedback__back-mob {
        opacity: 1;
        display: block;
        top: -70px;
        left: 15px;
    }
    #feedback {
        padding-bottom: 100px;
    }
    .footer {
        padding-bottom: 29px;
    }
    .footer__nav {
        padding-bottom: 30px;
    }
    #office .title-second {
        margin: 10px 0 15px;
    }
    .first__row {
        overflow: hidden;
        padding: 53px 30px 0;
    }
    .first__btn-more {
        margin-top: 20px;
        width: 144px;
        height: 37px;
        font-weight: bold;
        font-size: 12px;
        line-height: 164.4%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 170px;
    }
    .first__img {
        width: 330px;
        bottom: 100px;
        left: auto;
        right: 14px;
    }
    .title {
        font-size: 35px;
        line-height: 126.4%;
        margin-top: 22px;
        margin-bottom: 7px;
    }
    .title__caption {
        font-size: 20px;
        line-height: 22px;
    }
    .first__back-modile {
        display: block;
        overflow: hidden;
        width: 500px;
        top: -48px;

        svg {
            width: 400px;
            top: -20px;
        }
    }
    #office {
        .office__slider {
            width: 60%;
            overflow: visible;
        }
    }
    .office__slide {
        padding-top: 55px;

        .office__img {
            max-width: 220px;
        }

        &.swiper-slide-active {
            padding-top: 0;

            .office__img {
                max-width: 285px;
                height: auto;
            }
        }

        &.swiper-slide-prev {
            align-items: flex-end;
            z-index: -1;

            .office__img {
                margin-right: -80px;
            }
        }

        &.swiper-slide-next {
            align-items: flex-start;
            z-index: -1;

            .office__img {
                margin-left: -80px;
            }
        }
    }
    .base {
        &__title {
            margin-bottom: 55px;
        }

        &__img {
            right: -60px;
            width: 360px;
        }

        &__wrap {
            height: 250px;
        }

        &__name {
            font-weight: 900;
            font-size: 40px;
            line-height: 120%;
        }
    }
}

@media only screen and (max-width: 556px) {
    #first {
        padding-bottom: 150px;
    }
    .first__row {
        padding-left: 20px;
        padding-right: 20px;
    }
    .first__back-modile {
        display: none;
    }
    .first__back-modile-second {
        display: block;
        height: 488px;
        right: -26px;
        top: -85px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
    .first__img {
        width: 223.98px;
        right: 0;
    }
    .first__btn-more {
        margin-bottom: 0;
    }
    .first__caption {
        margin-top: 32px;
        font-size: 14px;
        line-height: 17px;
    }
    .title {
        margin-top: 9px;
        margin-bottom: 6px;
        font-size: 25px;
        line-height: 126.4%;
    }
    .title__caption {
        font-size: 14px;
        line-height: 17px;
        text-transform: none;
    }


    .welcome__block {
        background: transparent;
        box-shadow: none;
        padding: 0 12px;
        margin-bottom: 50px;

        .title-second {
            padding: 0;
            color: #9180FF;

            &::after {
                display: none;
            }
        }

        .title-caption {
            font-size: 16px;
            line-height: 30px;
            color: #9180FF;
            margin-bottom: 3px;
        }
    }
    .welcome__svg {
        display: none;
    }
    .welcome__txt {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #464646;
        margin-top: 10px;
        padding-bottom: 10px;

        &::after {
            content: "";
            background: #000;
            width: 75px;
            height: 1px;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            position: absolute;
        }
    }
    .title-second {
        font-size: 28px;
        line-height: 130%;
        text-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
    }
    .merit__block .title-second {
        margin-bottom: 60px;
    }
    .merit__list {
        padding: 0;
        max-width: 282px;
        margin: 0 auto;
    }
    .merit__item {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 66px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            font-size: 76px;
            line-height: 93px;
            left: -20px;
        }
    }

    #office {
        padding: 50px 0;

        .title-caption {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .office__caption {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    .office__slide {
        padding-top: 45px;

        .office__img {
            max-width: 165px;
        }

        &.swiper-slide-active {
            padding-top: 0;

            .office__img {
                max-width: 215px;
            }
        }

        &.swiper-slide-prev {
            .office__img {
                margin-right: -75px;
            }
        }

        &.swiper-slide-next {
            .office__img {
                margin-left: -75px;
            }
        }
    }
    .office__texts {
        margin-top: 18px;
    }
    .office__subtitle {
        margin: 18px 0 12px;
    }

    .office__txt {
        font-weight: 300;
    }
    .office__img-pagination {
        margin-top: 10px;
    }
    #welcome {
        padding: 0;
    }
    .title-caption {
        font-size: 11px;
        line-height: 12px;
        font-weight: 500;
    }

    #program {
        padding: 0;
    }
    .questions-accordion__head {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .questions-accordion__item {
        padding: 10px 29px 10px 0;
    }
    .questions-accordion__item .arrow {
        width: 20px;
        height: 20px;
    }
    .questions-accordion__item .arrow {
        top: 10px;
    }
    .questions-accordion__item .arrow:before,
    .questions-accordion__item .arrow:after {
        height: 10px;
        left: 8.5px;
        top: 4px;
    }
    #questions {
        padding-bottom: 50px;
    }
    .form__button {
        margin-top: 70px;
        width: 160px;
        height: 40px;
        font-size: 14px;
        line-height: 164.4%;
        padding: 0;
    }
    .program__slider {
        width: 100%;
        max-width: 380px;
        padding: 37px 0 0;
        margin: 0 auto;

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
        }

        .swiper-slide {
            width: 100% !important;
            margin-bottom: 55px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .program-pagination {
        margin-bottom: 50px;
        position: static;
    }
    .program__block {
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.17);
        padding: 0;
    }
    .program__head {
        height: 154px;
        padding: 40px 26px;
        margin: 0;
    }
    .program__title {
        font-size: 22px;
        line-height: 131.9%;
    }
    .program__promo {
        margin: 6px 0 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    .program__promo-time {
        font-size: 16px;
        line-height: 20px;
        background: transparent;
        padding: 0;
        box-shadow: none;
        color: #fff;
        height: auto;
        width: auto;
        text-align: left;
    }
    .program__img-first,
    .program__img-second {
        width: 108px;
        bottom: -8px;
        right: 35px;
    }
    .program__body {
        padding: 30px 10px 20px;
    }
    .program__list {
        padding: 0;
        border: none;
    }
    .program__item {
        margin-bottom: 20px;
        gap: 0;

        p {
            font-size: 14px;
            line-height: 20px;
            padding-left: 16px;
        }
    }
    .program__icon {
        width: 28px;
        height: 28px;
    }
    .program__price {
        line-height: 164.4%;
        margin-top: 20px;

        span {
            font-size: 26px;
            line-height: 164.4%;

            sub {
                font-size: 26px;
            }
        }

        .grey {
            font-size: 23px;
        }
    }
    .program__start {
        font-size: 26px;
    }
    #program {
        .button {
            width: 234px;
            height: 56px;
            font-size: 18px;
            line-height: 164.4%;
            margin-top: 18px;
        }
    }
    .calories-calculator {
        padding: 50px 0;

        &__caption {
            margin: 14px 0 20px;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
        }

        &__group {
            margin-bottom: 20px;
        }

        &__label {
            margin-bottom: 5px;
        }

        &__input {
            padding: 0 15px 0 10px;
        }

        &__btn {
            margin-top: 0;
            width: 234px;
            height: 56px;
            box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.19);
        }
    }
    .questions-accordion {
        margin-top: 15px;
    }
    .questions-accordion__list {
        padding: 0;
    }
    .telegram {
        &__wrap {
            margin-top: 20px;
        }

        &-body {
            padding: 28px 25px 50px;

            &__text {
                max-width: 280px;
                font-size: 12px;
                line-height: 15px;
                padding: 17px 20px;
            }
        }
    }
    .base {
        padding: 66px 0 42px;

        &__title {
            margin-bottom: 48px;
        }

        &__wrap {
            height: 190px;
            padding: 18px;
        }

        &__img {
            right: -45px;
            width: 278px;
        }

        &__name {
            font-size: 30px;
        }

        &__link {
            max-width: 140px;
            margin-top: 7px;
            font-size: 12px;
            line-height: 15px;
            height: 33px;
        }
    }
}

@media only screen and (max-width: 450px) {
    #office .office__slider {
        width: 80%;
        overflow: visible;
    }

    .office__slide {
        padding-top: 45px;

        .office__img {
            max-width: 130px;
            border-radius: 15px;
        }

        &.swiper-slide-active {
            padding-top: 0;

            .office__img {
                border-radius: 15px;
                max-width: 180px;
            }
        }

        &.swiper-slide-prev {
            .office__img {
                margin-right: -85px;
            }
        }

        &.swiper-slide-next {
            .office__img {
                margin-left: -85px;
            }
        }
    }
    .office__icon {
        width: 35px;
        height: 35px;

        svg {
            width: 12px;
            height: auto;
        }

        &.workout svg {
            margin-left: 3px;
        }
    }
    .office__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    .office__txt {
        font-size: 14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 375px) {
    #first {
        padding-bottom: 120px;
    }
    .first__img {
        bottom: 45px;
    }
    .merit__list {
        max-width: 250px;
    }
    .merit__block .title-second, .welcome__block .title-second, {
        line-height: 130%;
    }
    .office__slide {
        padding-top: 38px;

        .office__img {
            max-width: 110px;
        }

        &.swiper-slide-active {
            padding-top: 0;

            .office__img {
                max-width: 150px;
            }
        }

        &.swiper-slide-prev {
            .office__img {
                margin-right: -70px;
            }
        }

        &.swiper-slide-next {
            .office__img {
                margin-left: -70px;
            }
        }
    }

    .program__img-first, .program__img-second {
        bottom: -7px;
        right: 8px;
    }
    .program__head {
        padding: 40px 16px;
    }
    .program__start {
        font-size: 22px;
        line-height: 110%;
    }
    .telegram-head__text {
        font-size: 16px;
    }
    .telegram-head__img {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }
    .base__name {
        font-size: 26px;
    }
}
