.base {
    &-payment {
        &__section {
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__title {
            font-size: 5rem;
            line-height: 115%;
        }

        &-text {
            font-size: 2.5rem;
            line-height: 115%;
            margin: 3rem 0;
            text-align: center;
            max-width: 93rem;

            &__link {
                color: #AF00CB;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: underline;
            }

            p {
                margin-bottom: 1.5rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media only screen and (max-width: $small-tablet) {
            &__title {
                font-size: 4rem;
            }

            &-text {
                font-size: 1.8rem;
                max-width: 70rem;
            }
        }

        @media only screen and (max-width: $large-mobile) {
            &__title {
                font-size: 3rem;
            }

            &-text {
                font-size: 1.4rem;
                max-width: 38rem;
            }
        }
        @media only screen and (max-width: $medium-mobile) {
            &__title {
                font-size: 2.5rem;
            }

            &-text {
                max-width: 33rem;
            }
        }
    }
}
