.footer {
  padding: 7rem 0 5rem;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    margin: 0 -2rem;
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0 2rem;
  }

  &__social {
    max-width: 3.6rem;
  }

  &__link {
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.4rem;
    text-align: right;
    color: #AF00CB;
    border-bottom: 1px solid #AF00CB;
  }
}

@media only screen and (max-width: $medium-tablet) {
  .footer {
    padding: 2rem 0 2.4rem;

    &__social {
      display: block;
      max-width: 2.5rem;
    }
  }
}

@media only screen and (max-width: $small-mobile) {
  .footer {
    padding: 0;

    &__row {
      margin: 0;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #AF00CB;
      padding: 2rem 0 2.4rem;
    }

    &__list {
      margin: 0 -1.5rem 2rem;
      justify-content: center;
    }

    &__item {
      padding: 0 1.5rem;
    }

    &__social {
      max-width: 3.6rem;
    }

    &__link {
      font-size: 1.6rem;
      line-height: 2.0rem;
    }
  }
}